.columns/*.bg-image*/ {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.columns.bg-image .column.landing {
  height: 100vh;
}

.column {
  padding: 0;
}

.bg-image {
    background-image: url("../../../public/earth.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
}



